/* html, body{
  color: #fff;
  background: #fff;
  font-family: 'helvetica neue', helvetica, sans-serif;
  font-weight: 200;
  position: relative;
  z-index:1;
} */

button {

}

.hover-bg1:hover{
  background: red;
  content:" ";
  height: 100vh;
  width:100vw;
  position: absolute;
  top:-24px; left:-10px; bottom:0; right: 0; 
  z-index:-1;
}
.hover-bg2:hover{
  background: orange;
  content:" ";
  height: 100vh;
  width:100vw;
  position: absolute;
  top:-24px; left:-10px; bottom:0; right: 0; 
  z-index:-1;
}

.hover-bg3:hover{
  background: yellow;
  content:" ";
  height: 100vh;
  width:100vw;
  position: absolute;
  top:-24px; left:-10px; bottom:0; right: 0; 
  z-index:-1;
}
.hover-bg4:hover{
  background: green;
  content:" ";
  height: 100vh;
  width:100vw;
  position: absolute;
  top:-24px; left:-10px; bottom:0; right: 0; 
  z-index:-1;
}
.hover-bg5:hover{
  background: blue;
  content:" ";
  height: 100vh;
  width:100vw;
  position: absolute;
  top:-24px; left:-10px; bottom:0; right: 0; 
  z-index:-1;
}
.hover-bg6:hover{
  background: purple;
  content:" ";
  height: 100vh;
  width:100vw;
  position: absolute;
  top:-24px; left:-10px; bottom:0; right: 0; 
  z-index:-1;
}

